* {
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 1% 2.5%;
}

header {
  display: flex;
  top: 0;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  padding: 5px;
  background-color: rgb(255, 255, 255);
  position: fixed;
  border-bottom: #000;
}

.tagline {
  padding: 10px;
  padding-top: 75px;
}

.container {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
  max-width: 60rem;
  margin: 0 auto;
  flex-direction: column;
  position: fixed;
}

p{
  text-align: left;
}

h2 {
  text-decoration: none;
  font-family: 'Roboto Mono', monospace;
}

div h2 {
  text-align: center;
  padding-left: 20px;
}


h3,
h4 {
  font-family: 'Roboto Mono', monospace;
}



a:link {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(0, 0, 0);
}

a:hover {
  color: rgb(89, 234, 159) !important;
  background-color: transparent;
}

fieldset {
  width: 50px;
  height: 50px;
  padding: 5px;
  margin: 5px;
  border-radius: 10%;
}

footer {
  color: rgb(0, 0, 0);
  text-align: center;
}

header ul {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin: 5px;
  list-style: none;
}


button {
  background-color: #222;
  border-radius: 0px;
  color: rgb(89, 234, 159);
  cursor: pointer;
  padding: 0;
}

button:hover {
  background-color: #fff;
  color: #000;
  border: #fff;
}

header ul li {
  list-style: none;
  padding: 10px;
  padding-bottom: 20px;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}


header a, footer a {
  background: 
    linear-gradient(#000 0 0) 
    50% calc(-3px - 100%) /var(--d, 0%) 200% no-repeat;
  transition: 0.3s, background-size 0.3s 0.3s;
}

header a:hover,
footer a:hover{ 
  --d: 100%;
  background-position: 50% 0%;
  color: #fff;
  transition: 0.3s, background-position 0.3s 0.3s, color 0.3s 0.3s;
}



.project {
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  border-color: rgb(89, 234, 159);
  background-color: rgb(255, 255, 255) ;
  padding: 20px;
  margin: 20px;
}

.main-item {
  flex: 1;
  padding: 1em;
  min-width: 400px;
}

.main-item img {
  max-width: 400px;
  width: 100%;
  border-radius: 100%;
}

.tagline h1{
/* font-size: 2rem; */
text-align: left;
padding-top: 1%;
margin-top: 0%;
height: auto;
width: auto;
}

.tagline h2{
  font-size: 1.5rem;
  text-align: left;
  color: rgb(116, 116, 116);
  margin-bottom: 0%;
  padding-bottom: 0%;
}

.tagline p{
  text-align: left;
  color: rgb(116, 116, 116);
}


@media (min-width: 800px) {
  #portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .project p {
    text-align: center;
  }
}
